@charset "utf-8";
/* Reset */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background: #fff;
  font: 1rem/1.7 "lucida grande", "lucida sans unicode", lucida, helvetica, "PingFang SC", "Hiragino Sans GB", "STHeiti Light", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  transition: 300ms;
}
input,
textarea,
button {
  outline: none;
  -webkit-appearance: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
blockquote,
q {
  background: #fafafa;
  margin: 20px 0;
  padding: 2.5rem 4rem;
  position: relative;
  word-wrap: break-word;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: "“";
  color: #ccd1d9;
  font-size: 6rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-family: "Arial", sans-serif;
}
blockquote:after,
q:after {
  content: "”";
  top: initial;
  left: initial;
  bottom: -2rem;
  right: 1rem;
}
blockquote p,
q p {
  margin: 0 !important;
  padding: 0;
  line-height: 1.8rem;
  overflow: hidden;
}
pre {
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code {
  overflow: auto;
  font-size: 0.88rem;
  max-height: 18rem;
  border-radius: 3px;
  background: rgba(152, 152, 152, 0.06);
  box-shadow: 0 0 0 1px rgba(152, 152, 152, 0.1);
}
code {
  display: inline-block;
  margin: -0.36rem 0;
  padding: 0 0.36rem;
  color: #aab2bd;
  line-height: 1.6rem;
}
pre code {
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  padding: 1rem;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
table {
  border-collapse: collapse;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #3274ff;
}
sub,
sup {
  position: relative;
  font-size: 0.8rem;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.5rem;
}
sup {
  top: -0.5rem;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #656d78;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 5px;
}
.pure-button {
  padding: 0.3rem 1rem;
  background-color: #3274ff;
  border-radius: 9rem;
  color: #fff;
}
.pure-button:hover {
  color: #fff;
  text-decoration: underline;
}
.pure-switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  background-color: #ccc;
  box-shadow: 0 0 0 2px #ccc;
}
.pure-switch,
.pure-switch .dot {
  height: 1rem;
  transition: 300ms;
  border-radius: 1rem;
}
.pure-switch .dot {
  width: 1rem;
  background-color: #fff;
}
#is-dark {
  display: none;
}
#is-dark + .pure-switch {
  display: inline-block;
  height: 1rem;
  cursor: pointer;
}
#is-dark:checked + .pure-switch {
  background-color: #3274ff;
  box-shadow: 0 0 0 2px #3274ff;
}
#is-dark:checked + .pure-switch .dot {
  transform: translateX(1rem);
}
#main {
  display: flex;
  max-width: 75rem;
  width: 96%;
  margin: 0 auto;
}
#main .header {
  width: 18rem;
  flex-shrink: 0;
  margin-right: 5rem;
}
#main .header .sticky {
  position: sticky;
  top: 0;
  padding: 1rem 0;
}
#main .header .sticky h1 {
  font-size: 3rem;
  font-weight: bold;
}
#main .header .sticky h2 {
  font-size: 1rem;
}
#main .header .sticky .navigate .navigate-open {
  display: none;
}
#main .header .sticky .navigate ul {
  margin: 1rem 0;
  padding: 0 0 0 1.5rem;
  border-left: 1px solid rgba(102, 102, 102, 0.2);
}
#main .header .sticky .navigate ul li {
  list-style: none;
}
#main .header .sticky .navigate ul li a {
  display: block;
  padding: 0.3rem 0;
}
#main .header .sticky .l2d {
  display: flex;
  align-items: center;
}
#main .header .sticky .l2d .pure-switch {
  margin: 0 0.5rem;
}
#main .main {
  width: 100%;
}
#main .main .content {
  /*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
}
#main .main .content .prettyprint {
  font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco,
          Consolas, monospace;
  border: 0 !important;
}
#main .main .content .pln {
  color: #8bc34a;
}
@media screen {
  #main .main .content .str {
    color: #f35561;
  }
  #main .main .content .kwd {
    color: #03a9f4;
  }
  #main .main .content .com {
    color: #aab2bd;
  }
  #main .main .content .typ {
    color: #03a9f4;
  }
  #main .main .content .lit {
    color: #ac92ec;
  }
  #main .main .content .pun {
    color: #8bc34a;
  }
  #main .main .content .opn {
    color: #8bc34a;
  }
  #main .main .content .clo {
    color: #8bc34a;
  }
  #main .main .content .tag {
    color: #ed5565;
  }
  #main .main .content .atn {
    color: #cddc39;
  }
  #main .main .content .atv {
    color: #f35561;
  }
  #main .main .content .dec {
    color: #ac92ec;
  }
  #main .main .content .var {
    color: #ccd1d9;
  }
  #main .main .content .fun {
    color: #ccd1d9;
  }
}
#main .main .content .content-subhead {
  font-size: 2rem;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  margin: 2rem 0 0;
  padding: 0.2rem 0;
}
#main .main .content p,
#main .main .content pre {
  margin: 1rem 0;
}
#main .main .footer {
  font-size: 87.5%;
  border-top: 1px solid rgba(102, 102, 102, 0.2);
  margin-top: 3.4286em;
  padding: 5% 0;
}
#main .main .legal {
  line-height: 1.6;
  margin: 0 auto;
}
#main .main .legal-license {
  margin-top: 0;
}
#main .main .legal-links {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
#main .main .legal-copyright {
  margin-top: 0;
  margin-bottom: 0;
}
#main .main .legal-copyright .logo {
  display: inline-block;
  width: 2rem;
  height: 1rem;
  background: #3274ff;
  position: relative;
  margin: 0 2.2rem 0 0;
  top: 0.2em;
}
#main .main .legal-copyright .logo:before,
#main .main .legal-copyright .logo:after {
  content: "";
  background: #3274ff;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: -1rem;
  opacity: 0.8;
}
#main .main .legal-copyright .logo:after {
  background: #3274ff;
  right: -2rem;
  opacity: 0.6;
}
@media (max-width: 65rem) {
  #main {
    flex-wrap: wrap;
  }
  #main .header {
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  }
  #main .header .sticky {
    position: static;
    padding: 2rem 0;
    text-align: center;
  }
  #main .header .sticky .navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    transform: translateX(-100%);
    transition: 300ms;
  }
  #main .header .sticky .navigate:target {
    transform: translateX(0);
  }
  #main .header .sticky .navigate:target + .navigate-close {
    position: fixed;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #main .header .sticky .navigate .navigate-open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -3rem;
    width: 3rem;
    height: 3rem;
    background: #aaa;
    color: #fff;
  }
  #main .header .sticky .navigate ul {
    border: none;
    padding-left: 0;
  }
  #main .header .sticky .l2d {
    margin-top: 1rem;
    justify-content: center;
  }
  #main .main .content .content-subhead {
    margin: 0;
    padding-top: 3rem;
  }
}
body.dark {
  background: #15151d;
  color: #ddd;
}
@media (max-width: 65rem) {
  body.dark #main .header .sticky .navigate {
    background: #15151d;
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #15151d;
    color: #ddd;
  }
}
